* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    background-color: rgb(0, 119, 255);
    text-align: center;
    height: 60px;
    width: 100%;
    position: fixed;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:hover {
    text-decoration: underline;
}

nav .title {
    font-size: 32px;
    font-family: 'Palanquin', sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: -14px;
}


nav .menu {
    position: relative;
    float: right;
    padding: 5px;
    top: -25px;
}

nav .menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px; 
}

nav .menu a:hover {
    text-decoration: underline;
}

.table {
    padding-top: 68px;
}

table {
    margin-right: 100px;
    margin-left: 150px;
    border: 2px solid black;
    font-family: 'Palanquin', sans-serif;
    text-align: center;
}

table th {
    border: 1px solid black;
    font-family: 'Palanquin', sans-serif;
    padding: 2px;
}

td {
    border: 1px solid black;
    font-family: 'Palanquin', sans-serif;
    padding: 2px;
}

@media (max-width: 768px) {
    nav .title{
        font-size: 20px;
        text-align: center;
    }

    nav .menu a {
        font-size: 16px;
    }

    nav .menu {
        top: 5px;
    }

    table {
        margin: 0;
    }
}